input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.add-leave-body {
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 100%;
  .add-leave-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20xp;
    .add-leave-information {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        margin-bottom: 50px;
        margin-left: 20%;
        align-self: flex-start;
      }
      form {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        .form-data {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 10px;

          .data {
            display: flex;
            flex-direction: column;
            gap: 3px;
            .text{
              font-size: 14px;
              font-weight: 700;
              font-family: "Roboto", sans-serif;
              display: flex;
              align-items: center;
              gap: 10px;
              padding-left: 5px;
          }
            .inputs {
              margin: 5px;
              background: none;
              padding: 5px 5px 5px 10px;
              height: 25px;
              font-size: 16px;
              border: 1px solid rgb(204, 204, 204);
              border-radius: 3px;
              color: #000000;
            }
            .leavecombobox {
              margin: 5px;
              background: none;
              width: 98%;
              font-size: 16px;
            }
          }
        }

        label {
          font-weight: 500;
        }

        .button-part {
          display: flex;
          justify-content: center;
          height: 40px;
          .save-button {
            width: 18%;
            color: white;
            padding: 5px;
            background-color: rgb(2, 157, 225);
            border: none;
            border-radius: 5px;
            font-weight: 500;
            cursor: pointer;
            box-shadow: 2px 2px rgb(0, 0, 0);
          }
          button:hover,
          button:focus {
            box-shadow: 0 0.5em 0.5em -0.4em var(--color5);
            transform: translateY(-0.25em);
            transition: 0.4s;
          }
        }
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    align-items: center;
    height: 85vh;
    .employee-profil-image {
      width: 600px;
    }
  }
}
