body{
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .link{
    text-decoration: none;
    color: white;
  }
  .d-flex{
    display: flex;
    gap: 10px;
  }
  .fw-large{
    font-weight: 600;
    font-size: large;
  }
  
  .full-sidebar-employee{
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100vh;
    position: fixed;
    justify-content: space-between;
    border-right: 1px solid rgb(218, 212, 212);
    .sidebar-top-employee{
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      .sidebar-title-link-employee{
        color: rgb(24, 21, 33);
        text-decoration: none;
        border-bottom: 1px solid rgb(218, 212, 212);
        display: flex;
        align-items: center;
        font-weight: 700;
        &:hover{
          background-color: rgb(112, 110, 110);
        }
        img{
          float: left;
          line-height: .8;
          margin-left: 1.6rem;
          max-height: 35px;
          width: auto;
          
        }
        .sidebar-title{
          margin-left: 1rem;
          
        }
      }
      
    }
    .sidebar-main-employee{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .sidebar-nav-employee{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-top: 20px;
        width: 90%;
        padding: 0;
        gap: 10px;
  
        

        li {
          .link.active {
            background-color: rgb(41, 128, 185);
            border-radius: 5px;
            color: white;
            .link {
              color: white;
  
              .icon {
                width: 50px;
              }
            }
          }
  
          .link {
            color: black;
            font-size: small;
            padding: 5px 0px 5px 5px;
            &:hover{
              background-color:  rgb(41, 128, 185);
              border-radius: 5px;
              color: white;
            }
          }
        }
      }
    }
    .lg{
      .linklogout{
        text-decoration: none;
        .logout{
          display: flex;
          align-items: center;
          padding-left: 2rem;
          border-top: 1px solid rgb(233, 233, 233);
          height: 70px;
          color: black;
          &:hover{
            background-color:  rgb(53, 118, 162);
            color: aliceblue;
            font-weight: 700;
          }
          .lout{
            font-size: small;      
            font-weight: 700;

          }
        }
      }
      
    }
    
  }
  
  