.forgot-container{
    display: flex;
    width: 100vw;
    
    gap: 50px;
    .background-part{
        height: 100vh;
        width: 60vw;
        background-image: url('../../assets/images/forgot-password.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .right-part{

        .backarrow{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: end;
          height: 40vh;
            .link{
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: end;
              transition: 1s;
              &:hover{
                 
                transform: translateY(-0.7em) translateX(-0.7em) 
            }
              
            }
            .image{
                width: 80px;
                cursor: pointer;
                
                
            }
            .login-text{
                font-weight: 700;
                color: rgb(64,123,255);
            }
        }
        .reset-part{
            background-color:rgb(122,163,255) ;
            box-shadow: 10px 10px rgb(64,123,255);
            height: 250px;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 30px;
            padding: 15px;
            .text-part{
                .h2{
                    color: rgb(248, 248, 248);
                    margin: 0;
                    padding: 0;
                }
                .p{
                    font-size: small;
                    margin: 0;
                    padding: 0;
                    color: rgb(216, 215, 215);
                }
            }
            
        }
    }
    
    .button-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .button{
            color: rgb(52, 77, 131);
            background-color: rgb(236, 236, 236);
            border: none;
            padding: 5px 15px 5px 15px;
            width: 40%;
           
            font-size: small;
            font-weight: 700;
            transition: 0.2s;
            letter-spacing: 0.5px;
            
            
            &:hover{
                box-shadow: 0.5em 0.5em 1em 4px rgb(64,123,255);
                transform: translateY(-0.2em) translateX(-0.2em) 
            }
        }
        
    }
    }

.form__group {
  position: relative;
  padding: 15px 5px 0 0;
  width: 90%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid rgb(248, 248, 248);
  outline: 0;
  font-size: 1.3rem;
  color: rgb(248, 248, 248);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    cursor: text;
    top: 25px;
    font-size: large;
    font-weight: 600px;
    
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.3rem;
  font-weight: 700;
  color: rgb(38,74,153);
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: rgb(248, 248, 248);
    font-weight:700;    
  }
  padding-bottom: 6px;
  color: rgb(248, 248, 248);  
  font-weight: 700;
  border-width: 2px;
  border-image: linear-gradient(to right, rgb(248, 248, 248),rgb(248, 248, 248));
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
