@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
.admin-profile-body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  height: 100%;
  .left{ 
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    .avatar-part {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
      gap: 30px;
      .avatar {
        height: 220px;
        border-radius: 50%;
        width: 220px;
        object-fit: cover;
      }
      .choosefilebutton {
        display: flex;
        gap: 10px;
        cursor: pointer;
        background-color: rgb(255, 101, 41);
        box-shadow: 2px 2px rgb(0, 0, 0);
        border-radius: 3px;
        padding:  7px 10px 7px 10px;
        color: white;
      }
    }
    .detail-part {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30xp;
      .left-part {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .input {
          display: flex;
          flex-direction: column;
          gap: 3px;
          .text {
            font-size: small;
            font-weight: 700;
            font-family: "Roboto", sans-serif;
            display: flex;
            align-items: center;
            gap: 10px;
          }
          .detail-p {
            font-size: small;
            font-weight: 500;
            border-radius: 3px;
            border: 1px solid rgb(200, 200, 200);
            padding: 10px 5px 10px 5px;
            margin: 0;
            cursor: default;
          }
          .editable {
            font-size: small;
                font-weight: 500;
            border-radius: 3px;
            border: 1px solid rgb(200, 200, 200);
            padding: 10px 5px 10px 5px;
            margin: 0;
          }
        }
      }
    }
    .button-part {
      
      display: flex;
      justify-content: center;
      height: 40px;
      .button-change {
        width: 18%;
        color: white;
        padding: 5px;
        background-color: rgb(255, 101, 41);
        border: none;
        border-radius: 5px;
        font-weight: 500;
        cursor: pointer;
        box-shadow: 2px 2px rgb(0, 0, 0);
      }
      button:hover,
      button:focus {
        box-shadow: 0 0.5em 0.5em -0.4em var(--color5);
        transform: translateY(-0.25em);
        transition: 0.4s;
      }
    }
  }
  .right{
    flex: 2;
    display: flex;
    align-items: center;
    height: 85vh;
    .admin-profil-image{
      width: 600px;
      
    }
  }
  
}
