.expense-body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  height: 100%;
  .expense-left {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .expense-mini-part {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        margin-bottom: 30px;
        margin-left: 20%;
        align-self: flex-start;
      }
      .expense-form {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        .invoice-part {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 30px;
          .register-profile-image {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 25px;
            gap: 30px;
            .invoice {
              height: 150px;
              border-radius: 10%;
              width: 150;
              object-fit: cover;
            }
          }
          .file-upload {
            .choosefilebutton {
              display: flex;
              gap: 10px;
              cursor: pointer;
              background-color: rgb(2, 157, 225);
              box-shadow: 2px 2px rgb(0, 0, 0);
              border-radius: 3px;
              padding: 7px 10px 7px 10px;
              color: white;
            }
          }
        }
        .amount-part {
          display: flex;
          flex-direction: column;
          gap: 3px;
          .amount-part-mini {
            display: flex;
            justify-content: space-between;
            .amount-text {
              font-size: small;
              font-weight: 700;
              font-family: "Roboto", sans-serif;
              display: flex;
              align-items: center;
              gap: 10px;
            }
            .currency-text {
              font-size: small;
              font-weight: 400;
              color: rgb(133, 133, 133);
            }
          }

          .amount {
            display: flex;
            gap: 5px;
            .amount-input {
              font-size: small;
              font-weight: 500;
              border-radius: 3px;
              border: 1px solid rgb(200, 200, 200);
              padding: 10px 5px 10px 5px;
              margin: 0;
              width: 85%;
            }
            .amount-select {
              padding-left: 10px;
              width: 15%;
              border-radius: 3px;
              border: 1px solid rgb(200, 200, 200);
            }
          }
        }
        .spending-date-part {
          display: flex;
          flex-direction: column;
          gap: 3px;

          .text {
            font-size: small;
            font-weight: 700;
            font-family: "Roboto", sans-serif;
            display: flex;
            align-items: center;
            gap: 10px;
          }
          .date-input {
            font-size: small;
            font-weight: 500;
            border-radius: 3px;
            border: 1px solid rgb(200, 200, 200);
            padding: 10px 5px 10px 10px;
            margin: 0;
          }
        }
        .expense-type-part {
          display: flex;
          flex-direction: column;
          gap: 3px;

          .text {
            font-size: small;
            font-weight: 700;
            font-family: "Roboto", sans-serif;
            display: flex;
            align-items: center;
            gap: 10px;
          }
          .expense-select {
            font-size: small;
            font-weight: 500;
            border-radius: 3px;
            border: 1px solid rgb(200, 200, 200);
            padding: 10px 5px 10px 10px;
            margin: 0;
          }
        }
        .comment-area {
          display: flex;
          flex-direction: column;
          gap: 3px;
          .comment-textarea {
            border: 1px solid rgb(200, 200, 200);
            border-radius: 3px;
            font-weight: 500;
            width: 94%;
            height: 150px;
            resize: none;
            line-height: 1.5;
            padding: 10px;
          }
          .text {
            font-size: small;
            font-weight: 700;
            font-family: "Roboto", sans-serif;
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }
        .button-part {
          display: flex;
          justify-content: center;
          height: 40px;
          .expense-button {
            width: 18%;
            color: white;
            padding: 5px;
            background-color: rgb(2, 157, 225);
            border: none;
            border-radius: 5px;
            font-weight: 500;
            cursor: pointer;
            box-shadow: 2px 2px rgb(0, 0, 0);
          }
        }
        button:hover,
        button:focus {
          box-shadow: 0 0.5em 0.5em -0.4em var(--color5);
          transform: translateY(-0.25em);
          transition: 0.4s;
        }
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    align-items: center;
    height: 85vh;
    .employee-profil-image {
      width: 600px;
    }
  }
}
